.color,
a:focus,
a:hover {
    color: #062F4F
}

.color2 {
    color: #002060
}

.bg-color {
    background: #062F4F
}

.main-nav>ul>li:hover>a {
    color: #062F4F
}

.main-nav .toggle-mobile-menu span,
.main-nav .toggle-mobile-menu::after,
.main-nav .toggle-mobile-menu::before {
    background: #062F4F
}

.category-dropdown::after,
.category-dropdown::before,
.main-nav .sub-menu::after,
.main-nav .sub-menu::before,
.mini-cart-content::after,
.mini-cart-content::before {
    border-color: #062F4F
}

.list-category-dropdown:hover .link-cat-dropdown,
.search-ontop:hover .search-form .submit-form::after {
    color: #062F4F
}

.main-nav .mega-menu::after,
.main-nav .mega-menu::before {
    border-color: #062F4F
}

.product-price ins {
    color: #062F4F
}

.shop-button {
    border: 1px solid #062F4F;
    color: #062F4F
}

.shop-button:hover {
    background-color: #062F4F
}

.banner-button:hover {
    background-color: #002060
}

.owl-theme .owl-controls .owl-page.active span::after {
    background: #062F4F
}

.hot-label,
.hot-label::before {
    background: #002060
}

.underline-title::after {
    background: #062F4F
}

.viewall-button {
    color: #062F4F
}

.viewall-button:hover {
    color: #002060
}

.tab-title li.active .shop-button {
    background: #062F4F
}

.product-extra-link>a.addcart-link,
.product-extra-link>a:hover {
    color: #062F4F
}

.product-extra-link>a.addcart-link:hover {
    border-color: #062F4F;
    background-color: #062F4F
}

.product-price .sale-label {
    background: #002060
}

.product-title .shop-button:hover::before {
    background-color: #062F4F
}

.product-title .shop-button:hover {
    border-color: #062F4F;
    color: #062F4F
}

.thumb-gallery a {
    border: 1px solid #062F4F
}

.product-thumb>.quickview-link {
    background: #062F4F
}

.product-thumb>.quickview-link:hover {
    background: #002060
}

.owl-theme .owl-controls .owl-buttons div:hover {
    background: #062F4F
}

.owl-theme .owl-controls .owl-buttons div {
    color: #062F4F
}

.item-client {
    border: 1px solid #062F4F
}

.item-client.slick-active {
    background: #062F4F
}

.content-product-hover-dir .quickview-link {
    border: 1px dashed #062F4F;
    color: #062F4F
}

.content-product-hover-dir .quickview-link:hover {
    background: #062F4F
}

.item-client.slick-active .client-thumb {
    border-color: #062F4F
}

.slick-arrow {
    color: #062F4F
}

.latest-news-intro::after,
.slick-arrow:hover {
    background: #062F4F
}

.post-comment-date i,
.post-format>a:hover {
    color: #062F4F
}

.service-icon,
.service-icon::after {
    background: #ff887b
}

.service-icon:hover,
.service-icon:hover::after {
    background: #002060
}

.item-service.bottom-right::after {
    border-right: 70px solid rgba(255, 136, 123, .3)
}

.item-service.bottom-left::after {
    border-left: 70px solid rgba(255, 136, 123, .3)
}

.item-service.top-right::after {
    border-right: 70px solid rgba(255, 136, 123, .3)
}

.item-service.top-left::after {
    border-left: 70px solid rgba(255, 136, 123, .3)
}

.item-service.bottom-right:hover::after {
    border-right: 70px solid #062F4F
}

.item-service.bottom-left:hover::after {
    border-left: 70px solid #062F4F
}

.item-service.top-right:hover::after {
    border-right: 70px solid #062F4F
}

.item-service.top-left:hover::after {
    border-left: 70px solid #062F4F
}

.newsletter-form>form {
    border: 1px solid #062F4F
}

.submit-form::after {
    color: #062F4F
}

.social-footer a {
    color: #062F4F;
    border: 1px solid #062F4F
}

.contact-footer>p .fa {
    color: #062F4F
}

.scroll-top.round {
    background: #062F4F;
    color: #fff
}

.scroll-top.round:hover {
    background: #002060
}

.nav-footer li a:hover {
    color: #062F4F
}

.list-instagram a:hover img {
    box-shadow: 0 0 0 1px #062F4F
}

a.btn-circle:hover {
    background: #062F4F
}

a.btn-circle {
    color: #062F4F
}

.pagi-nav-bar .inline-block.current-page,
.pagi-nav-bar .inline-block:hover {
    border-color: #062F4F
}

.filter-default a.active::before {
    color: #062F4F
}

.range-filter #slider-range .ui-widget-header {
    background: rgba(255, 136, 123, .8)
}

.range-filter #slider-range {
    background: rgba(255, 136, 123, .2)
}

.range-filter #slider-range .ui-slider-handle.ui-state-default.ui-corner-all,
.range-filter .btn-filter {
    background-color: #062F4F
}

.gallery-control .carousel li a.active {
    border: 1px dashed #062F4F
}

.addcart-link.add-cart-detail:hover,
.review-form>div>input[type=submit]:hover,
.title-tab-detail li.active a::after,
.title-tab-gal-detail .list-inline-block li.active a::after {
    background: #062F4F
}

.btn-dashed {
    border: 1px dashed #062F4F;
    color: #062F4F
}

.btn-dashed:hover,
.social-footer a:hover,
.widget-post-tags .list-inline-block a:hover {
    background: #062F4F
}

.item-adv2 .banner-info::before {
    color: #062F4F
}

.shopnow.fa-icon {
    background: #062F4F
}

.shopnow.fa-icon:hover {
    background: #002060
}

.ef-lamp {
    background: #062F4F
}

.item-massage-service .service-info .readmore::before,
.item-massage-service .service-info .readmore:hover {
    color: #062F4F
}

.blockquote::after {
    background: #062F4F
}

.banner-button.bg-white,
.control-post .next-post:hover,
.control-post .prev-post:hover,
.single-post-info .desc a:hover,
.single-tags a:hover {
    color: #062F4F
}

.title-box3 {
    border-bottom: 1px dashed #062F4F
}

.title-box3::before {
    color: #002060
}

.list-title-tab3 li.active a {
    border-color: #062F4F;
    background: #062F4F;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
    color: #fff
}

.tab-cat-slider3 .thumb-gallery a.active::before {
    background: #062F4F
}

.item-service4:hover .sevice-icon {
    color: #fff;
    background: #062F4F;
    border: 1px solid #062F4F
}

.item-service4:hover {
    border-color: #062F4F
}

.meta-link6 .search-form:hover .submit-form::after,
.title-tab5 li.active a,
.week-countdown .countdown-section {
    color: #062F4F
}

.week-countdown.day-countdown .countdown-section {
    background: #062F4F
}

.vendor-contact .desc .fa,
.widget-product-search .search-form .submit-form::after {
    color: #062F4F
}

.header-general.header-border {
    border-bottom: 5px solid #062F4F
}

.blockquote {
    border: 1px solid #062F4F
}

.contact-accordion .item-toggle-tab.active .toggle-tab-title,
.contact-accordion .toggle-tab-title::after {
    color: #062F4F
}

@media (max-width:767px) {
    .main-nav>ul>li:hover>a {
        color: #062F4F!important
    }
}
